@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}

<h1 class = "titulo1">Lista General de Mascotas</h1>

<table class="tabla1">
          <thead class="thead1">
            <tr>
              <th class="borde1">Nombre</th>
              <th class="borde1">Color</th>
              <th class="borde1">Especie</th>
              <th class="borde1">Raza</th>
              <th class="borde1">Dueño</th>
              <th class="borde1">Veterinario</th>
              <th class="borde1" colspan="4">Acciones</th>
            </tr>
          </thead>
          @foreach (var mascota in Model.listaMascotas)
          {
            <tr>
              <td class="borde1">@mascota.Nombre</td>
              <td class="borde1">@mascota.Color</td>
              <td class="borde1">@mascota.Especie</td>
              <td class="borde1">@mascota.Raza</td>
              <td class="borde1">@mascota.Dueno.Nombres</td>
              <td class="borde1">@mascota.Veterinario</td>

              <td class="borde1">
                <a class = "texto4" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id" title="Detalles">
                  <i class = "fas fa-info-circle fa-lg" aria-hidden="true"></i>
                </a>
              </td>
              <td class="borde1">
                <a class="texto4" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id" title="Editar">
                  <i class = "fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
              </td>
              <td class="borde1">
                <a class="texto4" asp-page="./EliminarMascota" asp-route-mascotaId="@mascota.Id" title="Eliminar">
                  <i class = "fas fa-trash" aria-hidden="true"></i>
                </a>
              </td>
              <td class="borde1">
                <a class="texto4" asp-page="../Historia/ListaHistoria" asp-route-mascotaId="@mascota.Id" title="Historia Clínica">
                  <i class = "fas fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          }
          </table>




<a class="btn-add" asp-page="./EditarMascotas" class="btn-default">Adicionar Mascota</a>









